apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .ServiceName }}
  namespace: {{ .Namespace }}
  labels:
    app.kubernetes.io/name: {{ .ServiceName }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ .ServiceName }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ .ServiceName }}
      annotations:
        dapr.io/enabled: "true"
        dapr.io/app-id: {{ .ServiceName }}
        dapr.io/app-port: "{{ .ContainerPort }}"
    spec:
      containers:
        - name: {{ .ServiceName }}
          image: {{ .ImageName }}
          ports:
            - containerPort: {{ .ContainerPort }}
          env:
{{- range .EnvVars }}
            - name: {{ .Name }}
              value: {{ .Value }}
{{- end }}