apiVersion: v1
kind: Service
metadata:
  name: {{ .ServiceName }}
  namespace: {{ .Namespace }}
  labels:
    app.kubernetes.io/name: {{ .DeploymentName }}
spec:
  type: LoadBalancer # TODO respect the original service configuration if there was one
  selector:
    app.kubernetes.io/name: {{ .DeploymentName }}
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: {{ .TargetPort }}