apiVersion: v1
kind: Service
metadata:
  name: {{ .ServiceName }}
  namespace: {{ .Namespace }}
  labels:
    app.kubernetes.io/name: {{ .DeploymentName }}
spec:
  type: LoadBalancer # TODO respect the original service configuration if there was one
  selector:
    app.kubernetes.io/name: {{ .DeploymentName }}
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: {{ .TargetPort }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .ServiceName }}-metrics
  namespace: {{ .Namespace }}
  labels:
    app.kubernetes.io/name: {{ .DeploymentName }}
    monolift.com/metrics: "true"
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: {{ .DeploymentName }}
  ports:
    - name: http-metrics
      port: 8084
      targetPort: 8084