apiVersion: v1
kind: Service
metadata:
  name: {{ .ServiceName }}
  namespace: {{ .Namespace }}
  labels: # Recommended labels for Kubernetes
    app.kubernetes.io/name: {{ .ServiceName }}
    discrete.events/experiment: monolift
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: {{ .ServiceName }}
  ports:
    - name: http
      protocol: TCP
      port: 80 # Standard service port
      targetPort: {{ .TargetPort }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .ServiceName }}-metrics
  namespace: {{ .Namespace }}
  labels:
    app.kubernetes.io/name: {{ .ServiceName }}
    discrete.events/experiment: monolift
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: {{ .ServiceName }}
  ports:
    - name: http-metrics
      port: 8084
      targetPort: 8084